@import "_variables";

@media (max-width:1366px) {
  body{
    background-image: none !important;
  }
}

@media (max-width:800px) {
  #about{
    padding: 0!important;
  }
  #moreHead{
    background-image: none !important;
  }
  .container{
      height: 350px!important;
      width: 250px!important;
      img{
        width: 100%!important;
        height: 100%!important;
        object-fit: cover;
      }
  }

}

@media (min-width:481px) and (max-width:800px) {

  p{
    font-size: 16px!important;
  }h1{
    font-size: 32px!important;
  }
  #about{
    overflow: hidden;
  }
    #prods{
      height: 100vh!important;
      #kp-slide,img{
        height: 250px!important;
      }
      .btn{
        width: 100%!important;
      }
    }
}

@media (max-width:800px) {

  #more{
    height: 100%!important;
    .container{
      padding:0!important;
      img{
        height: 100%!important;
        width: 100%!important;
      }
    }
  }

  nav{
    width: 100%;
    position: fixed;
    background-color: white!important;
    .MuiButtonBase-root {
        margin-left: auto;
    }
  }

  main{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh!important;
    // padding: 0px!important;
    img{
      right: auto;
      width: auto!important;
      height: 100vh!important;
    }
    .f-col{
      #contact-bg{
        height: 100%!important;
        object-fit: contain;
      }
      #descr{
        background-color: rgba(0, 0, 0, 0.05);
        justify-content: center;
        height: 50%;
      }
    }
    #kp-slide{
      height: 545px!important;
      scrollbar-width:none;
      #prod-img{
        height: 100%!important;
      }
      #item-desc{
        background-color: $theme;
        color: white!important;
        width: auto!important;
        padding:20px!important;
        .size{
          border-color: white!important;
        }
      }
    }
    div{
      width: 100%!important;
      padding: 0px!important;
      h1,p,span{
        text-align: center;
      }
      p,span{
        width: 100%!important;
      }
    }
  }

  #banner{
    height:500px;
    .carousel{
        width: 100%!important;
        height: 100%!important;
    }
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 1) {

    nav{
      height: auto!important;
      .MuiButtonBase-root {
        margin-left: auto;
      }
    }

    #circ-cont{
      width: 100%!important;
      position: fixed;
    }

    #bg-cont{
      #contact-bg2{
        display: none!important;
      }#contact-bg{
        width: 400px!important;
        height: auto!important;
        top: 20%!important;
      }
    }

    #about{
      justify-content: flex-start;
      #white{
        width: 50%!important;
        background-color: inherit!important;
      }
      img{
        display: block;
        width: 350px!important;
        height: auto!important;
        right: 0 !important;
        left: 50% !important;
        top: 25%;
      }
    }

    #prods{
      #kp-cont{
        flex-direction: column!important;
        align-items: center!important;
        #prv-img{
          width: 50%!important;
          img{
            width: 100%!important;
            height: 100%!important;
          }
        }
        #kp-slide{
          height: 150px!important;
          width: 80%!important;
        }
        #dsc{
          margin-top: 5%!important;
          margin-left:0!important;
        }
      }
    }
}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1) {

    nav{
      position: fixed;
      width: 100%;
      justify-content: flex-start!important;
      background: white;
    }

    main{
      height: 100vh!important;
    }

    #bg-cont{
      #contact-bg{
        width: 370px !important;
        height: auto !important;
        top: 15% !important;
      }
    }

    #about{
      justify-content: flex-start;
      #white{
        width: 50%!important;
        background-color: inherit!important;
      }
      img{
        width: 350px !important;
        top: 15%;
        height: auto !important;
        left: 60% !important;
      }
    }

    #circ-cont{
      width: 100%!important;
      position: fixed!important;
    }

    #prods{
      #kp-cont{
        flex-direction: row!important;
        align-items: flex-start!important;
        #kp-slide{
          height: 400px!important;
        }
        #dsc{
          margin-top: 2%!important;
          max-height: 450px!important;
          .btn{
            width: 100%!important;
          }
        }
      }
    }

}

@media (min-width:800px) and (max-width:2555px) {
  #root{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width:1915px) {

  #banner{
    height: auto!important;
  }

  .grid{
    margin-top: 5%!important;
    grid-template-columns: repeat( auto-fit, minmax(550px, 1fr) )!important;
  }

  .container{
    height: 550px!important;
    width: 350px!important;
  }

  .circle{
    &-s{
      height: 150px!important;
      width: 150px!important;
    }
    &-m{
      height: 200px!important;
      width: 200px!important;
    }
    &-l{
      height: 250px!important;
      width: 250px!important;
    }
  }

  p{
    font-size: 28px!important;
  }
  h3{
    font-size: 36px!important;
  }h4{
    font-size: 32px!important;
  }
  h1{
    font-size: 94px;
  }
  a{
    font-size: 24px;
  }
  #main-bg{
    right: 5%!important;
  }
  #main-bg,#contact-bg,#contact-bg2{
    width: auto!important;
    height: 100%!important;
  }
  #kp-slide{
    height: 750px!important;
  }
  #dsc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    #descr{
      width: 100%!important;
    }
    span{
      font-size: 24px!important;
    }
    .btn{
      width: 100%!important;
    }
  }
  .logo{
    width: 48px!important;
    height: 48px!important;
  }
}

@media (min-width:2555px) {

  .circle{
    &-s{
      height: 250px!important;
      width: 250px!important;
    }
    &-m{
      height: 300px!important;
      width: 300px!important;
    }
    &-l{
      height: 350px!important;
      width: 350px!important;
    }
  }

  svg.MuiSvgIcon-root{
    font-size: 4rem;
  }
  p{
    font-size: 38px!important;
  }
  h1{
    font-size: 100px!important;
  }
  a{
    font-size: 32px!important;
  }
  #prods{
    div.m-l-2:nth-child(1) {
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    #kp-slide{
      height: 750px!important;
    }#dsc{
      margin-top: 5%;
      max-height: 750px!important;

    }
  }
}
