@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');

$main_bg:#f1f1f3;
$theme:#ffb185;
$text:#2c2c2c;
$font:'Montserrat', sans-serif;
$main-font:'Dancing Script', cursive;
$p-font:'Roboto', sans-serif;
